<!DOCTYPE html>
<html lang="en">

<!-- Head tag -->
<%- partial('_partial/head') %>

<body>

<!-- Menu -->
<%- partial('_partial/menu') %>

<!-- Main Content -->
<!-- body -->

<% if(page.path.indexOf('animation')==-1){ %>
    <% if(page.path.indexOf('photo')==-1){ %>
        <% if(page.path.indexOf('note')==-1){ %>
            <% if(page.path.indexOf('about')==-1){ %>
                <%- body %>
            <% }else{ %>
            <%- partial('_partial/about', {post: page})%>
            <% } %>
        <% }else{ %>
        <%- partial('_partial/note', {post: page})%>
        <% } %>
     <% }else{ %>
    <%- partial('_partial/photo', {post: page})%>
    <% } %>      
<% }else{ %>
<%- partial('_partial/animation', {post: page})%>
<% } %>


<!-- After footer scripts -->
<%- partial('_partial/after-footer') %>

</body>

</html>